body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: #f1f1f1;
  height: 100vh;
}

#app {
  padding: 10px 10px 0px;
}

.content .container {
  padding: 15px;
  background: #fff;
  border: 5px solid #ddd;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.navbar {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar > .navbar__item {
  display: inline-block;
  margin-right: 15px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 5px solid #ddd;
  border-width: 5px 5px 0px 5px;
  background: #f1f1f1;
  border-radius: 5px 5px 0 0;
}

.navbar .navbar__item:hover {
  color: #888;
  cursor: pointer;
}
.navbar__item.active {
  color: #888;
  background: white;
}

.hide {
  display: none !important;
}
.content .container .content__item {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-right: 20px;
}
.item-img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}
.item-img img {
  width: 100%;
  height: auto;
}

.item-title {
  font-size: 20px;
}

a {
  display: inline-block;
}
img {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}
.full {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 8%;
  background: #ccc center no-repeat;
  background: rgba(0, 0, 0, 0.5) center no-repeat;
  background-size: contain;
  background-origin: content-box;
  z-index: 10000;
}
a:focus + .full {
  display: block;
}

@media (max-width: 720px) {
  .navbar > .navbar__item {
    display: block;
    margin-right: 0px;
  }
}
